# 약물 분류 데이터

### 데이터 출처 :https://www.kaggle.com/prathamtripathi/drug-classification(참고, 데이터 수정)

### 데이터 설명 : 투약하는 약을 분류

### Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv")
df.head()

   Age Sex      BP Cholesterol  Na_to_K  Drug
0   20   F  NORMAL      NORMAL    9.281     4
1   24   M    HIGH      NORMAL    9.475     1
2   34   M  NORMAL        HIGH   22.456     0
3   17   M  NORMAL      NORMAL   10.832     4
4   72   M     LOW        HIGH   16.310     0

### Question 1.
### 남성들의 연령대별 (10살씩 구분 0*~*9세 10~19세 …) Na_to_K값의 평균값을 구해서 데이터 프레임으로 표현하여라

In [2]:
pre = df.loc[df.Sex=='M']
pre2 = pre.copy()
pre2['Age2'] = pre.Age//10 *10

answer = pre2.groupby('Age2').mean()['Na_to_K'].to_frame()
display(answer)

        Na_to_K
Age2
10    13.627000
20    18.260769
30    15.244143
40    13.897273
50    14.811273
60    14.284308
70    11.363857